* {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  box-sizing: border-box;
  font-family: "lato";
}

input {
  border: none;
}

li {
  list-style: none;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-header {
  height: 200px;
}

.dropdown-tags {
  display: none;
}

.header {
  margin-bottom: 15px;
  margin-top: 30px;
  max-width: 1240px;
}

.header-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #d04f4f;
  text-align: center;
  margin-top: 0;
}

img {
  width: 50px;
  height: 46px;
}

.main-header {
  display: flex;
  flex-direction: column;
}

.dropdowns {
  display: flex;
  margin-top: 10px;
}
@media (max-width: 680px) {
  .dropdowns {
    flex-direction: column;
    align-items: center;
  }
}
.dropdowns input {
  outline: none;
  height: 69px;
  width: 170px;
  border-radius: 5px;
  color: #fff;
}
@media (max-width: 680px) {
  .dropdowns input {
    width: 100%;
  }
}
.dropdowns input::placeholder {
  padding-left: 26px;
}

.dropdown {
  margin-right: 15px;
  position: relative;
  z-index: 10;
}
@media (max-width: 680px) {
  .dropdown {
    display: block;
    margin-bottom: 10px;
    min-width: 100%;
    margin-left: 15px;
  }
}

.dropdown-ingredients {
  background-color: #3282f7;
}

.dropdown-ingredients::placeholder {
  color: #fff;
  font-size: 18px;
}

.dropdown-appliances {
  background-color: #68d9a4;
}

.dropdown-appliances::placeholder {
  color: #fff;
  font-size: 18px;
}

.dropdown-ustensils {
  background-color: #ed6454;
}

.dropdown-ustensils::placeholder {
  color: #fff;
  font-size: 18px;
}

.list-ingredients {
  background-color: #3282f7;
  color: #fff;
  padding-left: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
@media (max-width: 680px) {
  .list-ingredients {
    grid-template-columns: 1fr 1fr;
  }
}

.list-appliances {
  background-color: #68d9a4;
  color: #fff;
  padding-left: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1000px;
}

.list-ustensils {
  background-color: #ed6454;
  color: #fff;
  padding-left: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.show-list {
  line-height: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tags-container {
  display: flex;
  margin-top: 10px;
}

.ingredient-tag {
  background-color: #3282f7;
  border-radius: 5px;
  margin-right: 5px;
  color: #fff;
  height: 37px;
  min-width: 107px;
  text-align: center;
  padding: 8px;
  display: flex;
  justify-content: space-around;
}

.appliance-tag {
  background-color: #68d9a4;
  border-radius: 5px;
  margin-right: 5px;
  color: #fff;
  height: 37px;
  min-width: 107px;
  text-align: center;
  padding: 8px;
  display: flex;
  justify-content: space-around;
}

.ustensil-tag {
  background-color: #ed6454;
  border-radius: 5px;
  margin-right: 5px;
  color: #fff;
  height: 37px;
  min-width: 107px;
  text-align: center;
  padding: 8px;
  display: flex;
  justify-content: space-around;
}

.testing {
  display: none;
}

.fa-times-circle {
  color: white;
  padding-top: 2px;
  padding-left: 5px;
  font-size: 18px;
}

.search-form {
  display: flex;
  position: relative;
  max-width: 1240px;
}

.search-bar {
  width: 100%;
  max-width: 1240px;
  height: 69px;
  padding: 0 20px;
  background-color: #e7e7e7;
  color: #000000;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  outline: none;
}

#error-searchBar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.show-error {
  display: block;
}

button {
  z-index: 20;
  border: none;
  padding: 10px;
  height: 69px;
  background: #e7e7e7;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
button span {
  width: 32px;
  font-size: 32px;
}

@media (max-width: 680px) {
  .search-form button {
    display: none;
  }
}

.btn-dropdown {
  position: absolute;
  right: 0;
  background: rgba(0, 0, 0, 0);
}
.btn-dropdown span {
  color: #fff;
  font-size: 16px;
}

section {
  display: flex;
  flex-flow: row wrap;
  z-index: 1;
  margin-top: 40px;
}
@media (max-width: 1430px) {
  section {
    justify-content: center;
  }
}

article {
  width: 380px;
  height: 364px;
  margin-bottom: 50px;
  margin-right: 50px;
  border-radius: 5px;
  background-color: #e7e7e7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "img img img img" "title title title duration" "ingredients ingredients instructions instructions";
}
@media (max-width: 770px) {
  article {
    margin-right: 0;
  }
}
article .card-img {
  width: 100%;
  height: 178px;
  grid-area: img;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-name {
  grid-area: title;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 0 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.duration {
  font-weight: bold;
  grid-area: duration;
  text-align: right;
  padding: 20px 20px 0 0;
  white-space: nowrap;
}
.duration i {
  width: 20px;
  height: 20px;
}

.ingredients-list {
  grid-area: ingredients;
  font-size: 12px;
  line-height: 14px;
  padding: 0 0 19px 20px;
  width: 171px;
}
.ingredients-list li span {
  font-weight: bold;
}

.card-instructions {
  height: 109px;
  max-width: 171px;
  padding: 0 0 19px 20px;
  margin-bottom: 19px;
  grid-area: instructions;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}

.main-header {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 40px 0;
}

body {
  margin-left: 100px;
  padding: 10px;
}
@media (max-width: 1200px) {
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
