button {
  z-index: 20;
  border: none;
  padding: 10px;
  height: 69px;
  background: #e7e7e7;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;

  & span {
    width: 32px;
    font-size: 32px;
  }
}

.search-form button {
  @media (max-width: 680px) {
    display: none;
  }
}

.btn-dropdown {
  position: absolute;
  right: 0;
  background: rgba(0, 0, 0, 0);

  & span {
    color: #fff;
    font-size: 16px;
  }
}
