button {
  position: absolute;
  width: 50px;
  border: none;
  top: 0;
  height: 69px;
  background: #e7e7e7;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;

  & span {
    width: 32px;
    font-size: 32px;
  }
}
