section {
  display: flex;
  flex-flow: row wrap;

  @media (max-width: 1430px) {
    justify-content: center;
  }
}

article {
  width: 380px;
  height: 364px;
  margin-bottom: 50px;
  margin-right: 50px;
  border-radius: 5px;
  background-color: #e7e7e7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "img img img img"
    "title title title duration"
    "ingredients ingredients instructions instructions";

  @media (max-width: 795px) {
    margin-right: 0;
  }

  & .card-img {
    width: 100%;
    height: 178px;
    grid-area: img;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.card-name {
  grid-area: title;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 0 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.duration {
  font-weight: bold;
  grid-area: duration;
  text-align: right;
  padding: 20px 20px 0 0;
  white-space: nowrap;

  & i {
    width: 20px;
    height: 20px;
  }
}

.ingredients-list {
  grid-area: ingredients;
  font-size: 12px;
  line-height: 14px;
  padding: 0 0 19px 20px;
  width: 171px;
  & li {
    // width: 100%;

    & span {
      font-weight: bold;
    }
  }
}

.card-instructions {
  height: 109px;
  max-width: 171px;
  padding: 0 0 19px 20px;
  margin-bottom: 19px;
  grid-area: instructions;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}
