.dropdowns {
  display: flex;
  margin-top: 10px;

  @media (max-width: 680px) {
    flex-direction: column;
    align-items: center;
  }

  & input {
    outline: none;
    height: 69px;
    width: 170px;
    border-radius: 5px;
    color: #fff;

    @media (max-width: 680px) {
      width: 100%;
    }
  }

  & input::placeholder {
    padding-left: 26px;
  }
}

.dropdown {
  margin-right: 15px;
  position: relative;
  z-index: 10;

  @media (max-width: 680px) {
    display: block;
    margin-bottom: 10px;
    min-width: 100%;
    margin-left: 15px;
  }
}

.dropdown-ingredients {
  background-color: #3282f7;
}

.dropdown-ingredients::placeholder {
  color: #fff;
  font-size: 18px;
}

.dropdown-appliances {
  background-color: #68d9a4;
}
.dropdown-appliances::placeholder {
  color: #fff;
  font-size: 18px;
}

.dropdown-ustensils {
  background-color: #ed6454;
}
.dropdown-ustensils::placeholder {
  color: #fff;
  font-size: 18px;
}

.list-ingredients {
  background-color: #3282f7;
  color: #fff;
  padding-left: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  @media (max-width: 680px) {
    grid-template-columns: 1fr 1fr;
  }
}

.list-appliances {
  background-color: #68d9a4;
  color: #fff;
  padding-left: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1000px;
}

.list-ustensils {
  background-color: #ed6454;
  color: #fff;
  padding-left: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.show-list {
  line-height: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

// selected tags

.tags-container {
  display: flex;
  margin-top: 10px;
}

.ingredient-tag {
  background-color: #3282f7;
  border-radius: 5px;
  margin-right: 5px;
  color: #fff;
  height: 37px;
  min-width: 107px;
  text-align: center;
  padding: 8px;
  display: flex;
  justify-content: space-around;
}

.appliance-tag {
  background-color: #68d9a4;
  border-radius: 5px;
  margin-right: 5px;
  color: #fff;
  height: 37px;
  min-width: 107px;
  text-align: center;
  padding: 8px;
  display: flex;
  justify-content: space-around;
}

.ustensil-tag {
  background-color: #ed6454;
  border-radius: 5px;
  margin-right: 5px;
  color: #fff;
  height: 37px;
  min-width: 107px;
  text-align: center;
  padding: 8px;
  display: flex;
  justify-content: space-around;
}

.testing {
  display: none;
}

.fa-times-circle {
  color: white;
  padding-top: 2px;
  padding-left: 5px;
  font-size: 18px;
}
