.dropdowns {
  display: flex;
  margin-top: 10px;

  @media (max-width: 680px) {
    flex-direction: column;
    align-items: center;
  }

  & input {
    outline: none;
    height: 69px;
    width: 170px;

    @media (max-width: 680px) {
      width: 100%;
    }
  }

  & input::placeholder {
    padding-left: 10px;
  }
}

.dropdown {
  width: 170px;
  margin-right: 15px;
  position: relative;

  @media (max-width: 680px) {
    display: block;
    margin-bottom: 10px;
    min-width: 100%;
    margin-left: 15px;
  }
}

.dropdown-ingredients {
  background-color: #3282f7;
}
.dropdown-ingredients::placeholder {
  color: #fff;
  font-size: 18px;
}

.dropdown-appareil {
  background-color: #68d9a4;
}
.dropdown-appareil::placeholder {
  color: #fff;
  font-size: 18px;
}

.dropdown-ustensiles {
  background-color: #ed6454;
}
.dropdown-ustensiles::placeholder {
  color: #fff;
  font-size: 18px;
}
