.search-form {
  display: flex;
  position: relative;
  max-width: 1240px;
}

.search-bar {
  width: 100%;
  max-width: 1240px;
  height: 69px;
  padding: 0 20px;
  background-color: #e7e7e7;
  color: #000000;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  outline: none;
}

#error-searchBar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.show-error {
  display: block;
}
