* {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  box-sizing: border-box;
  font-family: "lato";
}

input {
  border: none;
}

li {
  list-style: none;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-header {
  height: 200px;
}

.dropdown-tags {
  display: none;
}
